{% extends "base.html" %}

{% load humanize %}

{% block content %}
  <style>
    table {
      text-align: center;
    }
  </style>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="text-center">Stock List</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Symbol</th>
              <th>Name</th>
              <th>Price</th>
              <th>Market Cap</th>
              <th>Weighted Market Cap %</th>
              <th>Number of Shares to Buy</th>
            </tr>
          </thead>
          <tbody id="stock-list">
            {% for stock in stocks %}
              <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price|floatformat:2 }} PKR</td>
                <td>{{ stock.market_cap|floatformat:0|intcomma }} PKR</td>
                <td>{{ stock.weighted_market_cap|floatformat:2 }}%</td>
                <td>N/A</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <form hx-post="{% url 'investing:calculate_shares' %}"
              hx-target="#stock-list"
              hx-swap="innerHTML"
              class="form-inline mt-5 ml-5">
          {% csrf_token %}
          <div class="form-group">
            <label for="investmentAmount" class="sr-only">Your Investment Amount</label>
            <input type="number"
                   class="form-control"
                   id="investmentAmount"
                   name="investment_amount"
                   placeholder="Investment Amount" />
          </div>
          <button type="submit" class="btn btn-primary ml-2 mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
